  a {
   color:green;
  }
body {
    display: flex;
  flex-direction: column;
  }
main {
    display: flex;
  flex: auto;
  }
  aside {
     flex: 1;
  } 
 article {
     flex:3 ;
  } 
img {
  attributeï¼šclass;
  class=small;
  } 
