  a,h1 {
   color:green;
  }
h2 {
   color:blue;
  }
h3 {
   color:red;
  }
body {
    display: flex;
  flex-direction: column;
 
  }
main {
    display: flex;
  flex: auto;
  }
  aside {
     flex: 1;
    border-width: 3px;
   background-color:orange;  
  } 
 article {
     flex:3 ;
   border-width: 3px;
  } 

