  a,h1 {
   color:green;
  }
h2 {
   color:blue;
  }
h3 {
   color:red;
  }
body{
    display: flex;
  flex-direction: column;
  border-width: 10px;
    border-color:red;
  }
main {
    display: flex;
  flex: auto;
  border-width: 10px;
    border-color:green;
  }
  aside {
     flex: 1;
    border-width: 10px;
    border-color:blue;
  } 
 article {
     flex:3 ;
   border-width: 10px;
    border-color:red;
  } 

